.App {
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0.5rem;
}

input {
  width: calc(100% - 5px);
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 5px;
}

.card {
  box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 0.7);
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

.search-box {
  margin: 1rem 0;
}

@media screen and (min-width: 600px) {
  body {
    background-color: lightcyan;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }
  input {
    width: 300px;
  }
  .search-box {
    text-align: right;
  }
}
